/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

*{box-sizing: border-box;}

h1 {
  display: flex;
  border: solid;
  justify-content: center;
}

p{
  text-align:center;
}

.start-button{
  text-align: center;
}

.button{
  text-align:center;
}

.list{
  text-align: center;
  width: 180px;
  margin: auto;
}

ul{
   list-style: none;
   text-align: left;
 }


.text-box{
  border: solid;
  font-size: 15px;
  height: 300px;
  text-align: center;
}

.intro .question .question-submitted{
  text-align: center;
}


@media all and (min-width: 800px){

  header{
    margin-bottom: 30px;
  }

  h1{
    display:flex;
    width: 500px;
    margin: auto;
  }
  .text-box{
    width: 500px;
    margin: auto;
    padding-bottom: 100px;
  }
  p{
    text-align: center;
  }
}
.start-button{
  margin-top: 20px;
  margin-bottom: 20px;
}

.button{
  margin-top: 20px;
  margin-bottom: 20px;
}
