/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

*{box-sizing: border-box;}

html, body{
  margin: 0px;
}

header{
  display: flex;
  justify-content: center;
}

main{
  margin: 20px;
}
section{
  background-image: url('/images/travel-default.jpg');
  background-size: 700px 900px;
  background-repeat: no-repeat;
  height: 100vh;
  margin:auto;
  margin-bottom: 0px;
}
.question-0, .question-0-submitted {

  background-image: url('/images/paris-image.jpg');
  background-size: 700px 900px;
  background-repeat: no-repeat;
  height: 100vh;
  margin:auto;
  margin-bottom: 0px;
  
}
.question-1, .question-1-submitted{
  background-image: url('/images/moscow-image.jpg');
  background-size: 700px 900px;
  background-repeat: no-repeat;
  height: 100vh;
  margin:auto;
  margin-bottom: 0px;
  
}
.question-2, .question-2-submitted{
  background-image: url('/images/barcelona-image.jpg');
  background-size: 700px 900px;
  background-repeat: no-repeat;
  height: 100vh;
  margin:auto;
  margin-bottom: 0px;
  
}
.question-3, .question-3-submitted{
  background-image: url('/images/buenos-aires-image.jpg');
  background-size: 700px 900px;
  background-repeat: no-repeat;
  height: 100vh;
  margin:auto;
  margin-bottom: 0px;
  
}
.question-4, .question-4-submitted{
  background-image: url('/images/beijing-image.jpg');
  background-size: 700px 900px;
  background-repeat: no-repeat;
  height: 100vh;
  margin:auto;
  margin-bottom: 0px;
}
h1 {
  font-size:30px;
  display: flex;
  border: solid;
  padding: 10px;
  text-align: center;
  background-color: #fff;
}

h2{
  font-size: 20px;
  text-align: center;
   margin-bottom: 30px;
}
p{
  text-align:center;
}
.result-message, .score {
  background-color: #fff;
  border: solid;
}
.result-message {
  width: 300px;
  margin: auto;
  margin-bottom: 20px;
}
.score{
  width: 200px;
  margin:auto;
}
.start-button{
  text-align: center;
}

.button{
  text-align:center;
}

.list{
  text-align: center;
  margin: auto;
}

ul{
   list-style: none;
   text-align: left;
   padding: 20px;
 }

 li{
   margin: 0 0 20px 0;
   font-size: 12px;
 }


.radio{
margin: 15px;
text-align: left;
font-size: 13px;
}


.text-box{

  border: solid;
  font-size: 15px;
  height: 300px;
  text-align: center;
  background-color: #fff;
  margin: auto;
}

.intro .question .question-submitted{
  text-align: center;
}


@media all and (min-width: 700px){

  header{
    margin-bottom: 30px;
  }

  h1{
    display:flex;
    width: 500px;
    margin-top: 120px;
    justify-content: center;
  }
  .text-box{
    width: 500px;
    margin: auto;
    padding-bottom: 100px;
  }
  p{
    text-align: center;
    font-size: 17px;
    font-weight: bolder;
    padding-bottom: 10px;;
  }
  li{
    font-size: 17px;;
  }
  .radio {
    font-size: 17px;
  }
  section{
    background-image: url('/images/travel-default.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    margin:auto;
    margin-bottom: 0px;
  }
  .question-0, .question-0-submitted {

    background-image: url('/images/paris-image.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    margin:auto;
    margin-bottom: 0px;
  }
  .question-1, .question-1-submitted{
    background-image: url('/images/moscow-image.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    margin:auto;
    margin-bottom: 0px;
    
  }
  .question-2, .question-2-submitted{
    background-image: url('/images/barcelona-image.jpg');
    background-size: 100vh;
    background-repeat: no-repeat;
    height: 100vh;
    margin:auto;
    margin-bottom: 0px;
    
  }
  .question-3, .question-3-submitted{
    background-image: url('/images/buenos-aires-image.jpg');
    background-size: 100vh;
    background-repeat: no-repeat;
    height: 100vh;
    margin:auto;
    margin-bottom: 0px;
    
  }
  .question-4, .question-4-submitted{
    background-image: url('/images/beijing-image.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    margin:auto;
    margin-bottom: 0px;
  }
}
.start-button{
  margin-top: 20px;
  margin-bottom: 20px;
}

.button{
  margin-top: 20px;
  margin-bottom: 20px;
}
